* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration:none;
}

ul,
ol {
    list-style: none;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    background-color: #C0DBD9;
    margin: 0 auto;
}

.header__navbar {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
    padding: 0 30px;
    background-color: #7FAFF7;
    margin-bottom: 15px;
}

.header__button {
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #fff;
    padding: 8px 15px;
    background-color: #A5C7F9;
    border-radius: 5px;
    transition: opacity 0.4s;
    cursor: pointer;
}

.header__button:hover {
    opacity: 0.6;
}

.blocks {
    padding-bottom: 15px;
}

.blocks__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #B3F95A;
}

.blocks__item {
    position: relative;
    min-height: 198px;
    background-color: #8AD191;
    margin-bottom: 15px;
    counter-increment: item;
}

.blocks__item::before {
    position: absolute;
    content: counter(item);
    top: 50%;
    left: 50%;
    font-family: Roboto;
    font-size: 53px;
    line-height: 62px;
    font-weight: 400;
    color: #fff;
    transform: translate(-50%, -50%);
}

.blocks__item:nth-child(1) {
    width: 390px;
}

.blocks__item:nth-child(2) {
    width: 590px;
}

.blocks__item:nth-child(3) {
    width: 160px;
}

.blocks__item:nth-child(4) {
    width: 995px;
    margin-bottom: 0;
}

.blocks__item:nth-child(5) {
    width: 160px;
    margin-bottom: 0;
}

.box {
    padding-bottom: 100px;
}

.box__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    background-color: #88B5BF;
}

.box__item {
    width: calc(100% / 4);
    min-height: 199px;
    background-color: #0D89B0;
    margin-right: 30px;
}

.box__item:last-child {
    margin-right: 0;
}

.footer__content {
    width: 100%;
    min-height: 100px;
    background-color: #7FAFF7;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup:target {
    display: block;
}

.popup:target+.popup__content {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.popup__text {
    font-family: Roboto;
    font-size: 53px;
    line-height: 62px;
    font-weight: 400;
    color: #000;
}

.popup__close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    width: 43px;
    height: 39px;
    padding: 8px 15px;
    background-color: #7FAFF6;
    border-radius: 5px;
    border: none;
    transition: opacity 0.4s;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}